.jumbotron {
  padding-top: 2rem;
  background-color: #faebd7;
}
ul {
  margin-left: -45px;
}
li {
  list-style: none;
  display: inline-block;
}
footer {
  background-color: #faebd7;
}
.lead-1 {
  font-size: 15px;
  font-style: italic;
}
.font-jp {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.about h2 {
  font-weight: bold;
  font-size: 20px;
}
