#projects h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
#jumbotron {
  text-align: center;
  padding-top: 2rem;
  background-image: linear-gradient(to top, #fbc2eb, #e7b3e4, #d2a5de, #bb98d7, #a18cd1);
}
ul {
  margin-left: -45px;
}
li {
  list-style: none;
  display: inline-block;
}
footer {
  background-image: linear-gradient(to bottom, #fbc2eb, #e7b3e4, #d2a5de, #bb98d7, #a18cd1);
}
.lead-1 {
  font-size: 15px;
  font-style: italic;
}
.font-jp {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#about h2 {
  font-weight: bold;
  font-size: 20px;
}
#projek {
  background-color: #fbc2eb;
}
